File notebook này có tác dụng tiền xử lý file bao gồm hai công đoạn:
* Tách cột huyết áp ra làm hai cột huyết áp tâm trương và huyết áp tâm thu
* Xóa một số cột thuộc tính không có nhu cầu sử dụng bao gồm Income, Hemisphere

Những file liên quan đến dữ liệu nằm ở thư mục dataset:
* heart_attack_prediction_datase.csv là file dữ liệu được tải về từ kaggle theo đường dẫn: https://www.kaggle.com/datasets/iamsouravbanerjee/heart-attack-prediction-dataset
* data.csv là file hậu xử lý, nhóm sẽ thực hiện các thao tác trực quan dựa trên dữ liệu từ file này

In [1]:
import pandas as pd
import re

In [2]:
df= pd.read_csv("dataset/heart_attack_prediction_dataset.csv")
df.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [3]:
df.describe()

,Age,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,Previous Heart Problems,Medication Use,Stress Level,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
count,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000,8763.000000
mean,53.707977,259.877211,75.021682,0.652288,0.492982,0.896839,0.501426,0.598083,10.014284,0.495835,0.498345,5.469702,5.993690,158263.181901,28.891446,417.677051,3.489672,7.023508,0.358211
std,21.249509,80.863276,20.550948,0.476271,0.499979,0.304186,0.500026,0.490313,5.783745,0.500011,0.500026,2.859622,3.466359,80575.190806,6.319181,223.748137,2.282687,1.988473,0.479502
min,18.000000,120.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.002442,0.000000,0.000000,1.000000,0.001263,20062.000000,18.002337,30.000000,0.000000,4.000000,0.000000
25%,35.000000,192.000000,57.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.981579,0.000000,0.000000,3.000000,2.998794,88310.000000,23.422985,225.500000,2.000000,5.000000,0.000000
50%,54.000000,259.000000,75.000000,1.000000,0.000000,1.000000,1.000000,1.000000,10.069559,0.000000,0.000000,5.000000,5.933622,157866.000000,28.768999,417.000000,3.000000,7.000000,0.000000
75%,72.000000,330.000000,93.000000,1.000000,1.000000,1.000000,1.000000,1.000000,15.050018,1.000000,1.000000,8.000000,9.019124,227749.000000,34.324594,612.000000,5.000000,9.000000,1.000000
max,90.000000,400.000000,110.000000,1.000000,1.000000,1.000000,1.000000,1.000000,19.998709,1.000000,1.000000,10.000000,11.999313,299954.000000,39.997211,800.000000,7.000000,10.000000,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 26 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Patient ID                       8763 non-null   object
 1   Age                              8763 non-null   int64
 2   Sex                              8763 non-null   object
 3   Cholesterol                      8763 non-null   int64
 4   Blood Pressure                   8763 non-null   object
 5   Heart Rate                       8763 non-null   int64
 6   Diabetes                         8763 non-null   int64
 7   Family History                   8763 non-null   int64
 8   Smoking                          8763 non-null   int64
 9   Obesity                          8763 non-null   int64
 10  Alcohol Consumption              8763 non-null   int64
 11  Exercise Hours Per Week          8763 non-null   float64
 12  Diet                             8763 non-null   object
 13  Previous Heart Problems          8763 non-null   int64
 14  Medication Use                   8763 non-null   int64
 15  Stress Level                     8763 non-null   int64
 16  Sedentary Hours Per Day          8763 non-null   float64
 17  Income                           8763 non-null   int64
 18  BMI                              8763 non-null   float64
 19  Triglycerides                    8763 non-null   int64
 20  Physical Activity Days Per Week  8763 non-null   int64
 21  Sleep Hours Per Day              8763 non-null   int64
 22  Country                          8763 non-null   object
 23  Continent                        8763 non-null   object
 24  Hemisphere                       8763 non-null   object
 25  Heart Attack Risk                8763 non-null   int64
dtypes: float64(3), int64(16), object(7)
memory usage: 1.7+ MB

In [5]:
df.isnull().sum()

Patient ID                         0
Age                                0
Sex                                0
Cholesterol                        0
Blood Pressure                     0
Heart Rate                         0
Diabetes                           0
Family History                     0
Smoking                            0
Obesity                            0
Alcohol Consumption                0
Exercise Hours Per Week            0
Diet                               0
Previous Heart Problems            0
Medication Use                     0
Stress Level                       0
Sedentary Hours Per Day            0
Income                             0
BMI                                0
Triglycerides                      0
Physical Activity Days Per Week    0
Sleep Hours Per Day                0
Country                            0
Continent                          0
Hemisphere                         0
Heart Attack Risk                  0
dtype: int64

In [6]:

Systolic_value=[]
Diastolic_values=[]

for line in df["Blood Pressure"]:
    values = re.findall(r'(\d+)/(\d+)', line)
    systolic, diastolic = values[0]
    Systolic_value.append(int (systolic))
    Diastolic_values.append(int (diastolic))
    
    
df["Systolic blood pressure"]=Systolic_value
df["Diastolic blood pressure"]=Diastolic_values

cols = df.columns.tolist()
cols.remove("Systolic blood pressure")
cols.remove("Diastolic blood pressure")

# Thêm hai cột này vào vị trí thứ 5 và 6 (F và G)
cols.insert(5, "Systolic blood pressure")
cols.insert(6, "Diastolic blood pressure")
df = df[cols]

In [7]:
df=df.drop(columns=["Blood Pressure","Hemisphere","Income"])
df

,Patient ID,Age,Sex,Cholesterol,Systolic blood pressure,Diastolic blood pressure,Heart Rate,Diabetes,Family History,Smoking,...,Medication Use,Stress Level,Sedentary Hours Per Day,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Heart Attack Risk
0,BMW7812,67,Male,208,158,88,72,0,0,1,...,0,9,6.615001,31.251233,286,0,6,Argentina,South America,0
1,CZE1114,21,Male,389,165,93,98,1,1,1,...,0,1,4.963459,27.194973,235,1,7,Canada,North America,0
2,BNI9906,21,Female,324,174,99,72,1,0,0,...,1,9,9.463426,28.176571,587,4,4,France,Europe,0
3,JLN3497,84,Male,383,163,100,73,1,1,1,...,0,9,7.648981,36.464704,378,3,4,Canada,North America,0
4,GFO8847,66,Male,318,91,88,93,1,1,1,...,0,6,1.514821,21.809144,231,1,5,Thailand,Asia,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,MSV9918,60,Male,121,94,76,61,1,1,1,...,1,8,10.806373,19.655895,67,7,7,Thailand,Asia,0
8759,QSV6764,28,Female,120,157,102,73,1,0,0,...,0,8,3.833038,23.993866,617,4,9,Canada,North America,0
8760,XKA5925,47,Male,250,161,75,105,0,1,1,...,0,5,2.375214,35.406146,527,4,4,Brazil,South America,1
8761,EPE6801,36,Male,178,119,67,60,1,0,1,...,1,5,0.029104,27.294020,114,2,8,Brazil,South America,0
8762,ZWN9666,25,Female,356,138,67,75,1,1,0,...,0,8,9.005234,32.914151,180,7,4,United Kingdom,Europe,1

In [8]:

df.to_csv("dataset/data.csv",index=False, header=True, sep=",")

* Cell bên dưới thực hiện việc thay đổi kiểu dữ liệu của file nếu cần thiết

In [9]:
# Nhớ note lại cell markdown