In [2]:
import pandas as pd

File này dùng để trực quan hóa

In [3]:
df=pd.read_csv("dataset/data.csv")
df.head()

,Patient ID,Age,Sex,Cholesterol,Systolic blood pressure,Diastolic blood pressure,Heart Rate,Diabetes,Family History,Smoking,...,Medication Use,Stress Level,Sedentary Hours Per Day,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Heart Attack Risk
0,BMW7812,67,Male,208,158,88,72,0,0,1,...,0,9,6.615001,31.251233,286,0,6,Argentina,South America,0
1,CZE1114,21,Male,389,165,93,98,1,1,1,...,0,1,4.963459,27.194973,235,1,7,Canada,North America,0
2,BNI9906,21,Female,324,174,99,72,1,0,0,...,1,9,9.463426,28.176571,587,4,4,France,Europe,0
3,JLN3497,84,Male,383,163,100,73,1,1,1,...,0,9,7.648981,36.464704,378,3,4,Canada,North America,0
4,GFO8847,66,Male,318,91,88,93,1,1,1,...,0,6,1.514821,21.809144,231,1,5,Thailand,Asia,0